.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 93px 15px;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  transition: $transition-type;
  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  display: flex;
  justify-content: center;
  padding: 40px;
  background: $back-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media (min-width: 768px) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 528px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: $back-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
  transition: fill $transition-type;

  .modal-close:hover &,
  .modal-close:focus & {
    fill: $brand-color;
  }
}

.modal-form {
  &__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: $main-color;
  }
  &__list {
    margin-bottom: 30px;
  }
  &__label {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: $sub-text-color;
  }
  &__field {
    position: relative;
  }
}

.modal-form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &.comment {
    margin-bottom: 20px;
  }
}

.modal-form__input {
  padding: 12px 42px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color $transition-type;

  &:hover,
  &:focus {
    outline: none;
    border-color: $brand-color;
  }
}

.modal-form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill $transition-type;

  .modal-form__item:focus-within &,
  .modal-form__item:hover & {
    fill: $brand-color;
  }
}

.modal-form__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color $transition-type;

  &:hover,
  &:focus {
    outline: none;
    border-color: $brand-color;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-permition {
  display: flex;
  align-items: center;

  &__label {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__checkbox {
    position: absolute;
    appearance: none;
  }

  &__policy {
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: $sub-text-color;
  }

  &__link {
    color: $brand-color;
    text-decoration: underline;
  }
}

.modal-permition__icon {
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid $main-color;
  border-radius: 2px;
  cursor: pointer;
  transition: border-color $transition-type;

  .modal-permition__checkbox:hover + &,
  .modal-permition__checkbox:focus + & {
    border-color: $brand-color;
  }

  .modal-permition__checkbox:checked + & {
    background-color: $brand-color;
    background-image: url(../images/checkbox-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: border-box;
    border-color: transparent;
  }
}

.modal-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: $brand-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: $back-color;
  transition: background-color $transition-type;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
