.section-hero {
  background: $footer-color;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 600px;
  max-width: 1600px;
}

.hero {
  text-align: center;

  &-title {
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.3;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $back-color;
    margin-bottom: $item-margin;
  }
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: $back-color;
  background: $brand-color;
  cursor: pointer;
  transition: background-color $transition-type;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
