.section-clients {
  margin-left: auto;
  margin-right: auto;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: $main-color;
  margin-bottom: 50px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;

  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-right: calc(-1 * #{$item-margin});
    margin-bottom: calc(-1 * #{$item-margin});
  }
}

.clients-list__item {
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-basis: calc(100% / 2 - #{$item-margin});
    margin-right: $item-margin;
    margin-bottom: $item-margin;
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - #{$item-margin});
    margin-right: $item-margin;
    margin-bottom: $item-margin;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: auto;
    margin: 0;
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: $item-margin;
    }
  }
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color $transition-type;

  &:hover,
  &:focus {
    border-color: $brand-color;
    cursor: pointer;
  }
}

.clients-list__icon {
  width: 106px;
  height: 60px;
  fill: $icon-color;
  transition: fill $transition-type;

  .clients-list__link:hover &,
  .clients-list__link:focus {
    fill: $brand-color;
  }
}
