.section-advantages {
  padding-top: $section-padding;
  padding-bottom: $section-padding;
}

.advantages {
  padding-bottom: 0;
}

.features {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(-1 * #{$item-margin});
    margin-bottom: calc(-1 * #{$item-margin});
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: $main-color;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__explain {
  line-height: 1.7;
  color: $sub-text-color;
}

.features__thumb {
  width: 100%;
  height: 120px;
  background: $team-color;
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 100px;
}

.features__icon {
  width: 100%;
  height: 70px;
}

.features__item {
  width: 100%;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: $item-margin;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc(100% / 2 - #{$item-margin});
    margin-right: $item-margin;
    margin-bottom: $item-margin;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
