.section-hero {
  background: $footer-color;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mob-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: auto;
  max-width: 1600px;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mob-img2x.jpg);
  }
}

@media screen and (min-width: 480px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tab-img.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tab-img2x.jpg);
    }
  }
}

@media screen and (min-width: 768px) {
  .section-hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desk-img.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desk-img2x.jpg);
    }
  }
}

.hero {
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $back-color;
  margin-bottom: $item-margin;

  @media screen and (max-width: 1199px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  color: $back-color;
  background: $brand-color;
  cursor: pointer;
  transition: background-color $transition-type;

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
