.section-header {
  position: relative;
  border-bottom: 1px #ececec solid;
}

.header {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: block;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}

.navigation__logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: $main-color;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }

  &--first {
    color: $brand-color;
  }
}

.mobile-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  top: 10px;
  right: 15px;
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button.is-open:hover .icon-cross,
.menu-button:hover .icon-menu,
.menu-button.is-open:focus .icon-cross,
.menu-button:focus .icon-menu {
  fill: $brand-color;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button .icon-menu {
  transition: fill $transition-type;
}

.menu-button.is-open .icon-cross {
  display: block;
  transition: fill $transition-type;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 796px;
    background-color: #ffffff;
    padding: 48px 40px;
    z-index: 1;

    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

.pages {
  display: flex;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $main-color;
  list-style-type: none;

  @media screen and (max-width: 767px) {
    display: block;
    justify-content: center;
    flex-direction: column;
    font-size: 40px;
    line-height: 1.17;
  }
}

.pages__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.pages__link {
  color: $main-color;
  transition: color $transition-type;

  &:hover,
  &:focus,
  &:active {
    color: $brand-color;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
    padding: 32px 0;
  }
}

.pages__link--active {
  color: $brand-color;
  transition: color $transition-type;

  @media screen and (min-width: 768px) {
    position: relative;
    display: block;
    padding: 32px 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      display: block;
      width: 100%;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
    }
  }
}

.header-contacts {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center;

  @media screen and (max-width: 767px) {
    display: block;
    margin-bottom: 64px;
    margin-top: 302px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 138px;
    flex-wrap: wrap-reverse;
    align-content: center;
  }
}

.header-contacts__item {
  display: flex;

  &:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-top: 32px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-left: 50px;
    }
  }
}

.header-contacts__link {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $sub-text-color;
  text-decoration: none;
  list-style-type: none;
  transition: color $transition-type;

  @media screen and (max-width: 767px) {
    &.telephone {
      font-size: 34px;
      line-height: 1.17;
    }

    &.email {
      font-size: 24px;
      line-height: 1.16;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.16;
  }

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.header-contacts__thumb {
  width: 16px;
  height: 16px;
  margin-right: 10px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-contacts__icon {
  width: 16px;
  height: 16px;
  fill: $sub-text-color;
  transition: fill $transition-type;

  .header-contacts__link:hover &,
  .header-contacts__link:focus & {
    fill: $brand-color;
  }
}

.header-contacts__social-links {
  display: flex;
  text-decoration: none;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-contacts__social-item {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 1px;
    height: 100%;
    background: rgba(33, 33, 33, 0.2);
  }
}

.header-contacts__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $brand-color;
}
