.section-footer {
  background: $footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

.footer-links {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.footer-links__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  color: $back-color;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }

  &--first {
    color: $brand-color;
  }
}

.addresses {
  font-style: normal;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    width: 231px;
  }
}

.addresses-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.addresses-list__phy-address {
  line-height: 1.7;
  color: $back-color;
  transition: color $transition-type;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.addresses-list__address {
  line-height: 1.7;
  color: $sub-text-color;
  transition: color $transition-type;

  &:hover,
  &:focus {
    color: $brand-color;
  }
}

.join {
  margin-left: 0px;
  text-align: center;

  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 70px;
    text-align: start;
  }
}

.join-title {
  color: $back-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.join-list {
  display: flex;
  align-items: center;
  margin-top: 20px;

  @media screen and (max-width: 1199px) {
    justify-content: center;
  }
}

.join-list__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.join-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color $transition-type;

  &:hover,
  &:focus {
    background-color: $brand-color;
  }
}

.subscribe {
  margin-left: 0;

  @media screen and (max-width: 1199px) {
    text-align: center;
    margin-top: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.subscribe-title {
  margin-bottom: 20px;
  color: $back-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.subscribe-form__action {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  color: $back-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color $transition-type;
  flex-basis: 100%;

  &:hover,
  &:focus {
    outline: none;
    border-color: $back-color;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }

  @media screen and (min-width: 1200px) {
    width: 358px;
    flex-basis: auto;
  }
}

.subscribe-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: $back-color;
  background: $brand-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  transition: background-color $transition-type;

  @media screen and (max-width: 1199px) {
    margin-top: 20px;
  }

  &::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/subscribe-icon.svg);
  }

  &:hover,
  &:focus {
    background-color: $button-hover;
  }
}
