$brand-color: #2196f3;
$sub-text-color: #757575;
$main-color: #212121;
$back-color: #ffffff;
$footer-color: #2f303a;
$team-color: #f5f4fa;
$icon-color: #afb1b8;
$item-margin: 30px;
$section-padding: 94px;
$section-padding-tab-mob: 60px;
$button-hover: #188ce8;
$transition-type: 250ms cubic-bezier(0.4, 0, 0.2, 1);
